<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    
    <!-- Search Popup -->
    <div class="search-pop-overlay">
      <div class="search-popup">
        <div class="search-header">
          <span class="search-icon"><i class="fa fa-search"></i></span>
          <div class="search-input-container">
            <input type="text" class="search-input" placeholder="<%= __('search.placeholder') %>">
          </div>
          <span class="popup-btn-close"><i class="fa fa-times"></i></span>
        </div>
        <div class="search-result-container">
          <div class="search-result-icon">
            <i class="fa fa-search fa-5x"></i>
          </div>
        </div>
      </div>
    </div>
    
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>